*.opensdf
*.sdf
*.suo
*.ex4
*.compile.mt4
/fxconf3/ipch
/fxconf3/Release
/fxconf3/fxconf3/Debug
/fxconf3/fxconf3/Release
fxconf3/StaticRelease/libzmq.lib
fxconf3/fxconf3/mq4/Expert.compile.mq4
.gitignore
